<p style="color: green"><%= notice %></p>

<% content_for :title, "Stories" %>

<h1>Stories</h1>

<!-- Formulário com busca por título e filtro de publicação -->
<form method="get" action="<%= stories_path %>">
  <label for="search">Buscar por título:</label>
  <input type="text" name="search" id="search" value="<%= params[:search] %>">

  <label for="published">Mostrar:</label>
  <select name="published" id="published">
    <option value="" <%= 'selected' if params[:published].blank? %>>Todos</option>
    <option value="true" <%= 'selected' if params[:published] == 'true' %>>Publicados</option>
    <option value="false" <%= 'selected' if params[:published] == 'false' %>>Não Publicados</option>
  </select>

  <%= submit_tag "Buscar" %>
</form>

<hr>

<div id="stories">
  <% @stories.each do |story| %>
    <%= render StoryDecorator.new(story) %>
    <% unless story.published? %>
      <p><%= button_to "Publicar", publish_story_path(story), method: :post %></p>
    <% end %>
    <p><%= link_to "Show this story", story %></p>
  <% end %>
</div>

<%= link_to "New story", new_story_path %>
